In [1]:
import os
import glob
import sys
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from sklearn.manifold import TSNE
from umap import UMAP
import seaborn as sns

sys.path.append('../')
import src.utils as my_u
from src.utils import df_cp
from src.utils import df_log
from src.utils import df_total20000
from src.utils import df_minmax
from src.utils import df_l2norm
from src.utils import df_zscore
from src.utils import df_meansquare
from src.utils import run_plot

In [15]:
test = np.array([[1, 2, 3, 4], [2, 4, 6, 8], [3, 9, 27, 81]])
test = pd.DataFrame(test)

In [16]:
df_log(test)

          0         1         2         3
0  1.000000  1.584963  2.000000  2.321928
1  1.584963  2.321928  2.807355  3.169925
2  2.000000  3.321928  4.807355  6.357552

In [17]:
df_total20000(test)

        0       1       2        3
0  2000.0  4000.0  6000.0   8000.0
1  2000.0  4000.0  6000.0   8000.0
2   500.0  1500.0  4500.0  13500.0

In [18]:
df_minmax(test)

     0         1         2    3
0  0.0  0.333333  0.666667  1.0
1  0.0  0.333333  0.666667  1.0
2  0.0  0.076923  0.307692  1.0

In [19]:
df_l2norm(test)

array([[0.18257419, 0.36514837, 0.54772256, 0.73029674],
       [0.18257419, 0.36514837, 0.54772256, 0.73029674],
       [0.03492151, 0.10476454, 0.31429363, 0.9428809 ]])

In [22]:
print(df_meansquare(test))
print(df_minmax(df_meansquare(test)))

          0         1         2         3
0  0.365148  0.730297  1.095445  1.460593
1  0.365148  0.730297  1.095445  1.460593
2  0.069843  0.209529  0.628587  1.885762
     0         1         2    3
0  0.0  0.333333  0.666667  1.0
1  0.0  0.333333  0.666667  1.0
2  0.0  0.076923  0.307692  1.0

In [21]:
df_zscore(test)

          0         1         2         3
0 -1.161895 -0.387298  0.387298  1.161895
1 -1.161895 -0.387298  0.387298  1.161895
2 -0.760639 -0.591608 -0.084515  1.436762